.doc-header-container {
  border-bottom: 1px solid #D5D8DD;
}

.doc-header {
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
  border-radius: 15px;
  background: #EBEDF0;
  padding: 50px 47.5px;
}

.doc-header>h1 {
  font-size: 42px;
  margin-bottom: 110px;
}

.doc-header>div {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.doc-header>div>img {
  width: 100px;
  height: 100px;
}

.doc-series-container>div {
  max-width: 1440px;
  width: 90%;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.pr-list {
  max-width: 1090px;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pr-category {
  border-radius: 10px;
}

.pr-series {
  border-radius: 10px;
  border: 1px solid #D5D8DD;
  display: flex;
}

.product_lines {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 24px 18px;
  border-right: 1px solid #D5D8DD;
  margin: 0;
  max-width: 245px;
}

.product_lines>li {
  padding: 12px 15px;
  border-radius: 10px;
  background: #F9F9F9;
  color: rgba(0, 0, 0, 0.80);
  font-family: "Familjen Grotesk";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-transform: capitalize;
  min-width: 210px;
  cursor: pointer;
}

.product_lines>.current_series,
.product_lines>li:hover {
  color: #74bc1f;
}

.line_info {
  padding: 24px 18px;
}

.line_info>p:nth-of-type(1) {
  color: #74BC1F;
  font-family: "Familjen Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.line_info>p:nth-of-type(2) {
  color: #666;
  font-family: "Familjen Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.photos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 30px auto;
}

.photos>a {
  border-radius: 10px;
  border: 1px solid #D5D8DD;
  box-shadow: 0 0 1.067px 0 #D5D8DD;
  padding: 8px 8px 15px;
}

.photos>a:hover {
  border-color: #74bc1f;
  box-shadow: 0 0 6.206px 0 rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.photos>a>span {
  color: #555;
  font-family: "Familjen Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-transform: capitalize;
}

.photos>a>img {
  display: block;
  margin: 0 auto;
}

.doc_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin: 20px auto;
}

.doc_links>a {
  border-radius: 20px;
  border: 1px solid #F4F4F4;
  background: #FFF;
  display: flex;
  align-items: center;
  padding: 13px;
  gap: 13px;
}

.doc_links>a:hover {
  border-color: #74BC1F;
  background: #FFF;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
}

.link_title {
  display: flex;
  flex-direction: column;
}

.link_title>span:nth-of-type(1) {
  color: #333;
  font-family: "Familjen Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.link_title>span:nth-of-type(2) {
  color: rgba(0, 0, 0, 0.80);
  font-family: "Familjen Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.27px;
}

.right-list {
  flex: 1;
  height: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading_spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-left-color: #74bc1f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.load_box {
  width: 100%;
  aspect-ratio: 192/60;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.loading_max {
  width: 100px;
  height: 100px;
}

.loading_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading_box>p {
  margin: 0;
}

.right-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-list>div {
  border-radius: 10px;
  border: 1px solid #D5D8DD;
  background: #FFF;
}

.right-list>div>p {
  color: #2B2B2B;
  font-family: "Familjen Grotesk";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  border-bottom: 1px solid #D5D8DD;
  padding: 10px 15px 5px;
  margin: 0;
}

.right-list>div>ol {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px 15px;
  margin: 0;
}

.right-list>div>ol>li>a {
  color: #2B2B2B;
  font-family: "Familjen Grotesk";
  font-size: 16px;
}

.right-list>div>ol>li>a:hover {
  color: #74bc1f;
  text-decoration: underline;
}

@media screen and (min-width: 1450px) {}

@media screen and (max-width: 1450px) and (min-width: 1050px) {
  .right-list {
    min-width: 160px;
  }
}

@media screen and (max-width: 1050px) and (min-width: 750px) {
  .doc-series-container>div {
    flex-direction: column;
  }

  .pr-list {
    width: 100%;
  }

  .right-list {
    flex-direction: row;
  }

  .right-list>div {
    flex: 1;
  }
}

@media screen and (max-width: 750px) {
  .doc-header>h1 {
    margin-bottom: 50px;
    font-size: 30px;
  }

  .doc-series-container>div {
    flex-direction: column;
  }

  .pr-list {
    width: 100%;
  }

  .pr-series {
    flex-direction: column;
  }

  .product_lines {
    border-right: none;
    border-bottom: 1px solid #D5D8DD;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 100%;
  }

  .product_lines>li {
    font-size: 16px;
    min-width: auto;
  }

  .photos {
    grid-template-columns: repeat(2, 1fr);
  }

  .doc_links {
    grid-template-columns: 1fr;
  }

  .doc-header>div>img {
    width: 60px;
    height: 60px;
  }

  .doc-header {
    padding: 30px 20px;
  }
}