.textBox {
    position: relative;
}

.superscript {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    background-color: #74bc1f;
    padding: 0.5rem 2rem;
    border-radius: 0 .4rem 0 .4rem;
    display: block;
    color: #fff;
    font-size: 1rem;
}

.tippre {
    background-color: var(--ifm-code-background);
    color: #bfc7cc;
    border-radius: .4rem;
    padding-top: 5rem;
}

@media screen and (max-width: 750px) {
    .textBox {
        margin: 1rem 0;
    }

    .superscript {
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
        padding: .2rem 1rem;
        border-radius: none;
        display: block;
        color: #fff;
        font-size: 1.4rem;
    }

    .tippre {
        color: #bfc7cc;
        border-radius: .4rem;
        padding-top: 3rem;
    }
}